@CHARSET "UTF-8";

html,
body {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}

*, button {
    touch-action: manipulation;
}

/*baseball*/
.btn.id, .btn.lvl {
    padding: 0;
}

button#replay.focus, button#replay:focus {
    color: #333;
    background-color: white;
    border-color: #8c8c8c;
}

.board {
    background: rgba(255,255,255, 0.7);
    border-radius: 35px;
    padding: 15px 15px 28px 15px;
    position: relative;
    z-index: 9999;
    text-align: center;
}

.title {
    height: 233px;
    margin-top: 89px;
    z-index: 9999;
    position: relative;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

.title h1 {
    padding-top: 109px
}

.number {
    margin: auto;
    display: inline-flex;
}

div#msg, div#msg2 {
    margin-top: 18px;
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 20px;
}

input {
    width: 50px;
    height: 50px;
    padding: 5px;
    text-align: center;
    font-size: 40px;
    margin-right: 20px;
}

input#num3 {
    margin-right: 0px;
}
/*숫자 입력칸의 화살표를 삭제*/
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}

div#ans1, div#ans2, div#ans3 {
    width: 52px;
    height: 52px;
    padding: 5px;
    text-align: center;
    font-size: 41px;
    margin-right: 20px;
    font-family: Arial;

}

div#ans3 {
    margin-right: 0px;
}

.progress {
    width: 150px;
    margin-bottom: 0px;
}

.progress-bar {
    /*background-color: rgb(55, 191, 230);*/
    background-color: rgba(0,0,0,0.2);
}

.id {
    height: 42px;
}

.btn-link {
    color: black;
}

.dropdown, .lvl, .exp {
    display: inline-block;
    margin-right: 10px;
}

.lvl {
    font-family: 'VT323', monospace;
    font-size: 20px;
}

.header {
    margin-right: 0px;
    margin-left: auto;
    height: 45px;
}

.logo {
    font-size: 25px;
    font-weight: 100;
    margin: 0;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, .0975);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 45px;
    background-color: #fafafa;
    border-bottom: 1px solid #e6e6e6;
    color: #999;
}

div#min {
    /*top: -20px;*/
    position: relative;
    background-color: red;
    width: 0;
}

a#lvl, a#lvl:hover {
    color: black;
}

/*반응형에 맞게 마진 조절*/
@media all and (max-width:670px){
    .title {
        margin-top: 0px;
    }
}


/*tetris*/
.tetris-table {
    border-spacing: 1px;
    border-collapse: separate;
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tetris-table td {
    width: 25px;
    height: 25px;
    background-color: rgb(240, 240, 240);
}
.game-end{
    color: #999;
    background-color: rgba(0,0,0,0.2);
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-end .replay {
    color: #999;
    background-color: #fff;
    border: none;
    border-radius: 25px;
}


/*tetrisFight*/
.tetris-table2 {
    /*border-collapse: collapse;*/
    /*border: 1px solid rgb(232, 232, 232);*/
    margin: auto;
    border-spacing: 1px;
    border-collapse: separate;
    display: inline-flex;
}
.tetris-table2 td {
    width: 25px;
    height: 25px;
    background-color: rgb(240, 240, 240);
}
.tetris-table1 {
    /*border-collapse: collapse;*/
    /*border: 1px solid rgb(232, 232, 232);*/
    margin: auto;
    border-spacing: 1px;
    border-collapse: separate;
    display: inline-flex;
}
.tetris-table1 td {
    width: 25px;
    height: 25px;
    background-color: rgb(240, 240, 240);
}

.tetris-fight-tables {
    text-align: center;
    margin: 50px auto;
    display: flex;

}

.wait-player{
    margin: auto;
    border-spacing: 1px;
    border-collapse: separate;
    display: inline-flex;
    width: 261px;
    height: 573px;
    padding-top: 200px;
    padding-left: 60px;
}


/*반응형에 맞게 마진 조절*/

.btn.id, a#lvl, a#lvl:hover {
    color: #999;
}
.exp {
    margin-right: 20px;
}

.game-title {
    position: absolute;
    left: 20px;
    color: black;
    font-weight: 700;
    font-size: 14px;
}
@media all and (max-width:670px){
    .logo {
        height: 12vw;
    }
    .menu {
        height: 12vw;
    }
    .tetris-table {
        top: 24vw;
    }
    .tetris-table td {
        width: 5vw;
        height: 5vw;
    }
    .btn.id {
        font-size: 3.5vw;
    }
    .btn.lvl {
        font-size: 4.5vw;
    }
    .progress {
        width: 25vw;
    }
    .game-end {
        top: 24vw;
    }
    .dropdown, .lvl, .exp {
        margin-right: 2vw;
    }
    .game-title {
        left: 4vw;
        font-size: 3.5vw;
    }
}